<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    
    <div id="content">
        <h1> It's Mr. Stick Figure </h1>
        <p>YOLO vegan butcher fanny pack, pork belly venmo taxidermy pinterest 
        swag kickstarter synth typewriter hoodie twee woke. Four dollar toast lumbersexual
        you probably haven't heard of them yuccie sartorial, readymade hell of. Edison bulb 
        lo-fi mixtape, tilde af irony bicycle rights salvia literally authentic. 
        Put a bird on it copper mug hoodie bespoke synth, enamel pin butcher. Iceland 3 w </p>
        
    </div>
    
</div>